Recursion:
when a function calls itself. in recursion a base case or a termination condition is necessary... otherwise it'll result in an infinite loop.

In [2]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)

A recursive call call can only be done a specific max number of times... eg 3000 or more...beyond which python terminates the recursive process.

When given the opportunity to use loops or recursion, it's always better to go for loops bcz they don't takup space in the stack.

In [7]:
Image(url='https://miro.medium.com/v2/resize:fit:596/1*EbULILzPjvJOkvIk6T2ggA.png', width=800, height=600)

* and ** operators in def
most of the operators are overloaded in python !!!!!

In [8]:
def add(x,y=10):
    return x+y
add(10)

20

In [9]:
def add(y=10, x):
    return x+y
add(10)

# It's necessary to specify the default parameters after the non default parameterts.
#these are known as positional arguments.

SyntaxError: non-default argument follows default argument (1388554876.py, line 1)

In [10]:
def add(x, y):
    print(f"x:{x} , y:{y}")
    return x+y
add(y=20,x=30)

# example of key-word arguments.

x:30 , y:20

50

In [11]:
def func1():
    print("this func returns none")

x = func1()
print(x)

this func returns none
None

In [12]:
def func2():
    return "this function is returning this string"

x = func2()
print(x)

this function is returning this string

In [13]:
def func69(*args):
    for arg in args:
        print(arg, end =" ")
        
func69(1,2,3,4,5,6,7,8,9)

1 2 3 4 5 6 7 8 9

In [14]:
def sum(a,b,c):
    print(a,b,c)
args = [1, 2, 3]
sum(*args)

1 2 3

In [15]:
print(*args)
print(type(*args))

1 2 3

TypeError: type.__new__() argument 1 must be str, not int

In [16]:
ef sum(a,b,c):
    print(a,b,c)
args = [1, 2, 3, 4, 5]
sum(*args)

SyntaxError: invalid syntax (3134805943.py, line 1)

In [18]:
def func(**kwargs):
    for key, value in kwargs.items():
        print(key,value)

d = {'1':"skjdfhgbj",'2':'zkxhncvik'}
func(**d)

1 skjdfhgbj
2 zkxhncvik

strings

In [19]:
str_identifier = "fkjkfe"
str_identifier = "fjfhhjf\"" # using escape char \ to print "
str_identifier

'fjfhhjf"'

In [22]:
str_identifier = "fkjkfe' #error
str_identifier = "fjfhhjf"" #error

SyntaxError: EOL while scanning string literal (3525968198.py, line 1)

In [23]:
x = "World"
'world' in x

False

In [24]:
'World' in x
#in is case sensitive.

True

In [25]:
word = "Rishab IO Op"

vowels = ['a','e','i','o','u']
counter = 0
for char in word:
    if char.lower() in vowels:
        counter += 1
        
print(counter)

5

In [26]:
s = "ekjfefje"
s.capitalize(), s

('Ekjfefje', 'ekjfefje')

In [28]:
s = "HJK DJHDJKF DJFDJ" 
s.capitalize()
# this function only capitalizes the first letter of THE WHOLE STRING.

'Hjk djhdjkf djfdj'

In [34]:
x = "gururaja"
x.casefold() # doesn't consider the case of the string and compares it directly. by lowercasing everything.
y = "gururaja"

y.casefold() == x.casefold()

True

In [35]:
y = x.center(80,'#') #centers the string withing a specified length of chars and fills the space with the secong parameters.
print(y)

####################################gururaja####################################

In [31]:
x = "he said: 'im good'"
x

"he said: 'im good'"

In [36]:
x = 'he said "Imgood"'
x

'he said "Imgood"'

In [37]:
x='"'
x

'"'

In [38]:
x="'"
x

"'"

In [39]:
x = "poisafjkbiusddpfiusfljokuvxcbikzx"

In [40]:
x.count('h')

0

In [41]:
x = "sjdfjhsfhskhfkshfkjshdhgeryigrghhbvnbmnxbuwufjejofvb"
x.count("j",0,5) # will only count from index 0 to 5.
2

2

In [47]:
name = "gururaja"
name.endswith('g')
print(name.endswith('rus'))
print(name.endswith('zlkjxf'))

False
False

In [48]:
name.find("raj") #returns lowest index of the substring.

4

In [50]:
name.find("jackshit") #returns -1 if not found

-1

In [52]:
# str.format method.
name = "raj"
x = "my name is {}".format(name) #use this instead of string concatenaton because it's not preferable.
x

'my name is raj'

In [53]:
x = "hsjhsk12323"
x.isalnum()

True

In [54]:
x = "fgfdkhj$@#$"
x.isalnum()

False

In [56]:
x="whjdhw"
x.isalpha() #isalphabet

True

In [57]:
x = '1'
ord(x)

49

In [58]:
num = "131312"
num.isnumeric()

True

In [59]:
num.isdecimal()

True

In [60]:
num = "1.234"
num.isnumeric()

False

In [61]:
num.isdecimal()

False

In [62]:
name = "hjsdhkashkd"
print(name.islower())
print(name.islower())

True
True

In [65]:
li = ['hello','gurgu']
" my ".join(li)

'hello my gurgu'

In [67]:
li = ['hello','gururu']
["ksduhfiksbdjf"].join(li)

AttributeError: 'list' object has no attribute 'join'

In [68]:
s1 = "good, morning, my guru"
li = s1.split(',') #splits the string into a list based on some seperator char... in this case a ',' .
li

['good', ' morning', ' my guru']

In [70]:
s1="                     guru   raja                             "
s1.strip()

'guru   raja'

In [71]:
name = "abcdefgh"
name[::-1] #using concept of slicing on strings.

'hgfedcba'